body
{
    background-color: #ffffff !important
}
li.dropdown a
{
    text-transform: uppercase 
}

.navbar-nav>.dropdown> a:hover
{
    color: #0094ff !important
}

.navbar-nav>.active>a 
{
    color: #0094ff !important;
    background-color: transparent;
}